.content{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(145deg, rgba(244, 231, 112) 50%, rgba(225, 94, 131) 50%);
}

.bt{
    background: burlywood;
    position: absolute;
    border-radius: 20px;
    size: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: aliceblue;
    width: 45%;
    height: auto;
}

.hide{
    display: none;
}

.example{
    background-color: darkgray;
    padding: 40px;
    margin: auto;
    height: 100%;
    border-radius: 10px;
}

.win-body{
    margin-top: 0;
}

.win-body-top{
    display: grid;
    padding: 25px;
}

.win-body-bottom{
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.win-header{
    border-radius: 25px;
    background-color: rgba(232, 235, 243);
}

.close{
    background-color: red;
    display: block;
    margin-left: auto;
    border-radius: 25px;
    width: 50px;
}
@media screen and (max-width: 992px){
    .bt{
        font-size: 40pt;
        padding: 50px;
    }

    .example{
        background-color: darkgray;
        padding: 40pt;
        margin: auto;
        height: 100%;
        border-radius: 10px;
    }

    .close{
        font-size: 40pt;
        width: 20%;
    }

    input {
        width: auto;
        font-size: 30pt;
    }

    .show{
        font-size: 40pt;
        width: 100%;
    }
}
